@import '../../node_modules/bulma/bulma.sass';

.main__container {
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
}

.left-justify {
  @media (min-width: 1080px) {
    justify-content: start;
  }
}

.table__wrapper{
  @media (max-width: 1080px) {
    overflow-x: scroll;
  }
}

label{
  &.label{
    @media (max-width: 768px) {
      display: none;

    }
  }
}
.searchboxby {
  padding-left: 15px;
}